<h1>Stages</h1>
<div class="container-fluid">
    <div class="row" ng-repeat="item in Stages">
        <table class="table table-bg-light col-md-4">
            <tr>
                <td>
                    <h3>{{item.Title}}</h3>
                    <ul>
                        <li class="Row">{{item.Firstrow}}</li>
                        <li class="Row">{{item.Secondrow}}</li>
                        <li class="Row">{{item.Thirdrow}}</li>
                    </ul>
            </td>
            </tr>
        </table>
    </div>
</div>
<h1>Eras</h1>
<div class="container-fluid" ng-repeat="item in Eras" >
    <table class="grid-item">
    <tr>
        <th>{{item.Title}}</th>
    </tr>
    <tr>
        <td>
            <ul>
                <li class="Row">{{item.Firstrow}}</li>
                <li class="Row">{{item.Secondrow}}</li>
                <li class="Row">{{item.Thirdrow}}</li>
            </ul>
    </td>
    </tr>
    </table>
</div>