<div class="container col-md-6 card left">
    <h1>About the game</h1>
    <h3>Programming</h3>
    <ul>
        <li>html5 <img style="height: 25px;" src="/Public/img/html5.png" alt=""></li>
        <li>Javascript-AngularJs <img style="height: 25px;" src="/Public/img/js.png" alt=""><img style="height: 25px;" src="/Public/img/angularjs.png" alt=""></li>
        <li>css-bootstrap5 <img style="height: 25px;" src="/Public/img/CSS.png" alt=""><img style="height: 25px;" src="/Public/img/bootstrap.png" alt=""></li>
    </ul>
    <h3>Description</h3>
    <p>The player start in the cell stage, the task is to evolve into sentient specie, advance stages, eras
        toward the intergalactic era. Under the advance the player has to watch to the resources, such as food.
        The game has wonders, thats give a high bonus. Have an SQL database to save the progress for players.
    </p>
</div>
<div class="container col-md-6 card right">
    <h1>Game mechanics</h1>
    <h3>Resources management</h3>
    <h3>Economy</h3>
    <h3>Wonders</h3>
    <h3>Military</h3>
    <h3>Space colonize</h3>
</div>