<div class="container col-md-5 card left">
    <h1>About the game</h1>
    <h3>Programming</h3>
    <ul>
        <li>html5 <img style="height: 25px;" src="/Public/img/html5.png" alt=""></li>
        <li>Javascript-AngularJs <img style="height: 25px;" src="/Public/img/js.png" alt=""><img style="height: 25px;" src="/Public/img/angularjs.png" alt=""></li>
        <li>css-bootstrap5 <img style="height: 25px;" src="/Public/img/CSS.png" alt=""><img style="height: 25px;" src="/Public/img/bootstrap.png" alt=""></li>
    </ul>
    <h3>Description</h3>
    <p>The players start in the cell stage. The task is to evolve into a sentient species, advance stages and eras
        towards the intergalactic era. During the advancement, the players have to watch the resources, such as food, wood or uranium.
        They can build wonders, which provide high bonuses. The game has an SQL database to save the players' progression.
    </p>
</div>

<div class="container col-md-6 card right text-center">
    <h1>Game mechanics</h1>
    <h3>Resource management</h3>
    <hr>
    <ul>
        <li>Raw materials for manufactured goods</li>
        <li>Storage system</li>
    </ul>
    <hr>
    <h3>Economy</h3>
    <hr>
    <ul>
        <li>Money changes through eras</li>
        <li>Banking</li>
    </ul>
    <hr>
    <h3>Wonders</h3>
    <hr>
    <ul>
        <li>"Special projects" in eras</li>
        <li>High bonuses</li>
        <li>Expensive to build</li>
    </ul>
    <hr>
    <h3>Military</h3>
    <hr>
    <ul>
        <li>Troops to train</li>
        <li>Different types of warfare</li>
    </ul>
    <hr>
    <h3>Space colonization</h3>
    <hr>
    <ul>
        <li>Exploring star systems</li>
        <li>Building colonies on planets</li>
        <li>Terraforming planets</li>
    </ul>
    <hr>
</div>
<div class="container col-md-5 card left">
   <img src="/Public/img/civilization_banner.jpg" alt="banner">
</div>