<div class="container col-md-6 card left">
    <h1>About the game</h1>
    <h3>Programming</h3>
    <ul>
        <li>html5 <img style="height: 25px;" src="/Public/img/html5.png" alt=""></li>
        <li>Javascript-AngularJs <img style="height: 25px;" src="/Public/img/js.png" alt=""><img style="height: 25px;" src="/Public/img/angularjs.png" alt=""></li>
        <li>css-bootstrap5 <img style="height: 25px;" src="/Public/img/CSS.png" alt=""><img style="height: 25px;" src="/Public/img/bootstrap.png" alt=""></li>
    </ul>
    <h3>Description</h3>
    <p>The player start in the cell stage, the task is to evolve into sentient specie, advance stages, eras
        toward the intergalactic era. Under the advance the player has to watch to the resources, such as food.
        The game has wonders, thats give a high bonus. Have an SQL database to save the progress for players.
    </p>
</div>
<div class="container col-md-6 card right text-center">
    <h1>Game mechanics</h1>
    <h3>Resources management</h3>
    <hr>
    <ul>
        <li>Raw materials for manufactured goods</li>
        <li>Storage system</li>
    </ul>
    <hr>
    <h3>Economy</h3>
    <hr>
    <ul>
        <li>Money changes through eras</li>
        <li>Banking</li>
    </ul>
    <hr>
    <h3>Wonders</h3>
    <hr>
    <ul>
        <li>"Special projects" in eras</li>
        <li>High bonus</li>
        <li>Expensive build</li>
    </ul>
    <hr>
    <h3>Military</h3>
    <hr>
    <ul>
        <li>Troops to train</li>
        <li>diferrent type of warfare</li>
    </ul>
    <hr>
    <h3>Space colonize</h3>
    <hr>
    <ul>
        <li>Explore star systems</li>
        <li>Build colony on planets</li>
        <li>Terraform</li>
    </ul>
    <hr>
</div>