<div class="container col-md-5 card text-center mx-auto">
    <h1>About the developers</h1>
</div>
<div class="container col-md-5 card left text-center">
    <h3>Molnár Viktor</h3>
    
    <h3>Description</h3>
    <p>Angular genuis, entrepreneur</p>
    <div class="align-items-center">
        <img src="../Public/img/nerd.png" alt="Viktor"  height="80%" width="80%">
    </div>
     
</div>
<div class="container col-md-5 card right text-center">
    <h3>Korsós Ádám</h3>
    
    <h3>Description</h3>
    <p>The father the son and the holy spirit in one body</p>
    <div class="mx-auto">
        <img src="../Public/img/fat_cat.png" alt="Adam" height="80%" width="80%">
    </div>
    

</div>