<h1>Stages</h1>
<div class="container">
    <div class="row" ng-repeat="item in Stages">
        <div class="card col col-md-3">
            <h3>{{item.Title}}</h3>
            <hr>
                <p>{{item.Firstrow}}</p>
                <p>{{item.Secondrow}}</p>
                <p>{{item.Thirdrow}}</p>
        </div>
    </div>
</div>
<h1>Eras</h1>
<div class="container">
    <div class="row" ng-repeat="item in Eras" >
        <div class="col col-md-2 card">
            <h3>{{item.Title}}</h3>
            <hr>
            <ul>
                <li>{{item.Firstrow}}</li>
                <li>{{item.Secondrow}}</li>
                <li>{{item.Thirdrow}}</li>
            </ul>
        </div>
    </div>
</div>