<h1 class="mb-5">Stages</h1>
<div class="container row mb-5 ms-5">
    <div class="col-lg-4" ng-repeat="item in Stages">
        <div class="card">
            <h3>{{item.Title}}</h3>
            <hr>
                <p>{{item.Firstrow}}</p>
                <p>{{item.Secondrow}}</p>
                <p>{{item.Thirdrow}}</p>
        </div>
    </div>
</div>
<h1 class="mb-5">Eras</h1>
<div class="container row ms-5">
    <div class="col-lg-4 mb-3" ng-repeat="item in Eras" >
        <div class="card">
            <h3>{{item.Title}}</h3>
            <hr>
            <ul>
                <li>{{item.Firstrow}}</li>
                <li>{{item.Secondrow}}</li>
                <li>{{item.Thirdrow}}</li>
            </ul>
        </div>
    </div>
</div>