<h1 class="mb-5">Stages</h1>
<div class="container row mb-5 ms-2">
    <div class="col-lg-4" ng-repeat="item in Stages">
        <div class="card">
            <h3>{{item.Title}}</h3>
            <hr>
                <p>{{item.Firstrow}}</p>
                <p>{{item.Secondrow}}</p>
                <p>{{item.Thirdrow}}</p>
                <img ng-src='{{item.PictureName}}' alt="kep">
        </div>
    </div>
</div>
<h1 class="mb-5">Eras</h1>
<div class="container row mb-5 ms-2">
    <div class="col-lg-4" ng-repeat="item in Eras" >
        <div class="card">
            <h3>{{item.Title}}</h3>
            <hr>
            <ul>
                <li>{{item.Firstrow}}</li>
                <li>{{item.Secondrow}}</li>
                <li>{{item.Thirdrow}}</li>
                <div class="middle">
                    <img class="midle" ng-src='{{item.PictureName}}' alt="kep" height="100%" width="100%">
                </div>
               
            </ul>
        </div>
    </div>
</div>